@model IEnumerable<Ontrack.Models.Examination>

@{
    ViewData["Title"] = "Examinations List";
}

<h1>Examinations List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Examination</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Exam Name</th>
            <th>Date</th>
            <th>Score</th>
            <th>Class</th>
            <th>Subject</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ExamName</td>
                <td>@item.Date.ToString("yyyy-MM-dd")</td>
                <td>@item.Score</td>
                <td>@item.Class.ClassName</td>
                <td>@item.Subject.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ExaminationID" class="btn btn-secondary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ExaminationID" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ExaminationID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
