@model IEnumerable<Ontrack.Models.Student>

@{
    ViewData["Title"] = "Students Index";
}

<h1 class="text-center">Students</h1>



@using (Html.BeginForm("Index", "Students", FormMethod.Get))
{
    <div class="form-group row justify-content-center">
        <label for="searchString" class="col-form-label col-auto">Search:</label>
        <div class="col-auto">
            <input type="text" class="form-control form-control-sm" id="searchString" name="searchString" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary btn-sm">Search</button>
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.DOB)</th>
            <th>@Html.DisplayNameFor(model => model.Class.ClassName)</th>
            <th>Parent Name</th>
            <th>Payment Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => student.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => student.LastName)</td>
                <td>@Html.DisplayFor(modelItem => student.DOB)</td>
                <td>@Html.DisplayFor(modelItem => student.Class.ClassName)</td>
                <td>@student.Parent?.FullName</td>
                <td>@(student.IsPaid ? "Paid" : "Pending")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@student.StudentID" class="btn btn-info">Details</a> |
                    <a asp-action="Edit" asp-route-id="@student.StudentID" class="btn btn-info">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@student.StudentID" class="btn btn-info">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p class="text-center">
    <a asp-action="Create" class="btn m-1 btn-primary">Create New</a>
</p>
